@media (max-width: 400px) {
  hr{
    display: block;
  }
  header {
    position: $posRela;
    .headNav {
      position: $posRela;
      .logo {
        display: block;
        position: $posAbs;
        top: 10%;
        left: 20%;
        p {
          font-size: $ftSizeLogo * 0.6;
          margin: 0;
        }
        img {
          width: $allW;
          margin: 0;
        }
      }
      .flexAlignCent {
        position: $posAbs;
        flex-wrap: wrap;
        top: 0px;
        right: 0%;
        width: 50%;
        // transform: rotate(35deg);

      }
    }
    .forBeezbeez {
      flex-direction: column-reverse;
      margin: 20% 10% 10% 20%;
      .resSoc {
        position: $posAbs;
        top: 0;
        left: 0;
        .nintyD {
          transform: rotate(0deg);
        }
      }
      h1 {
        font-size: $ftSizeTitleB/2;
        .normTitle {
          font-size: $ftSizeTitleS/2;
        }
      }
      .firstImp {
        .buttSpe {
          margin: auto;
        }
      }
      .picturePhone {
        img {
          margin-top: 10%;
        }
      }
    }
    .mouseD {
      display: none;
    }
    
  }
  main {
    margin-top: 20vh;
    h2{
      font-size: 40px;
    }
    .whoWeR {
      display: block;
      .whoWeRImg {
        img {
          width: 100%;
        }
      }
      .whoWeRTxt {
        background-size: contain;
        .buttSpe {
          width: 40%;
        }
      }
    }
    .toOffer {
      .toOfferT {
        margin: 10px;
        
      }
      .flexWrap{
        .toOfferD{
          width: auto;
          box-shadow: 0 10px 20px 0 $darkGreyLessLight;
        }
      }
    }
    .ourPrice{
      padding: 10px;
      .ourPriceS{

        .ourPriceD{
          width: 80%;
        }
      }
    }
    .speNew{
      p{
        text-align: center;
      }
      .flexAlignCent{
        flex-direction: column;
        width: 100%;
        .textAreaNew{
          width: 80%;
        }
      }
    }
  }
  .flexBottom{
    display: block;
    position: $posRela;
    height: $allH;
    background-position: top;
    .flexJustCent{
      display: block;
      position: $posAbs;
      top:15vh;
      background: $blueGrad;
      section{
        width: $allW;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10% 0;
      }
    }
  }
}
